.mt-unica-slide {
  .carousel-inner {
    &::after {
      content: '';
      position: absolute;
      height: 485px;
      width: 100%;
      z-index: 1;
      background-image: linear-gradient(256.34deg, rgba(255, 255, 255, 0.4) 47.88%, rgba(255, 255, 255, 0) 59.77%);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .carousel-item {
    height: 485px;
    @media (max-width: 992px) {
      height: 280px;
    }
    @media (max-width: 380px) {
      height: 300px;
    }
    img {
      object-fit: cover;
      position: relative;
      height: 485px;
      @media (max-width: 992px) {
        height: 280px;
      }
      @media (max-width: 380px) {
        height: 300px;
      }
    }
    .img-1{
      object-position: 42%;      
    }
    .img-2{
      object-position: 39%;     
    }
    .img-3{
      object-position: 38%;  
    }
    .img-4{
      object-position: 32%;  
    }
    .img-5{
      object-position: 37%;     
    }
    .img-6{
      object-position: 40%;
    }
  }
  .carousel-control-prev-icon {
    background: url('images/mt-unica/icon-prev.png') top center no-repeat;
    width: 24px;
    height: 44px;   
    @media (max-width: 992px) {
      width: 7.96px;
      height: 14.93px;
      background-size: cover;
    }
  }
  .carousel-control-next-icon {
    background: url('images/mt-unica/icon-next.png') top center no-repeat;
    width: 24px;
    height: 44px;  
    @media (max-width: 992px) {
      width: 7.96px;
      height: 14.93px;
      background-size: cover;
    }
  }
  .carousel-caption {
    z-index: 1111; 
    right: 0;
    left: auto;
    bottom: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-right: 8%;
    top: 6%;
    @media (max-width: 992px) {
      top: 25px;
      margin-bottom: 10px;
    }
  }
  h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -0.02em;
    color: $color-secondary-medium;
    margin-bottom: 30px;
    @media (max-width: 992px) {
      font-size: 20px;
      line-height: 22px;     
      margin-bottom: 13px;     
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: $color-secondary-dark;
    margin-bottom: 25px;
    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 18px;
    }
  }
  .btn {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: $color-white;
    background: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    border-radius: 30px;
    padding: 9px 31px;
    @media (max-width: 992px) {
      font-size: 16px;
      line-height: 18px;
      display:none;
    }
    &:hover {
      background: $color-primary-light;
      border: 1px solid  $color-primary-light;
      color: $color-white;
    }
  }
  .btn-mobile {
    display: none;
    position: relative;
    z-index: 111;
    width: 78%;
    margin: 0 auto;
    margin-top: -17px;
    &:hover {
      color: $color-white;
      background: $color-primary-light;
      border: 1px solid  $color-primary-light;
    }
    @media (max-width: 992px)  {
      display: block;
    }
  }
}