.visite-blog {
  h2 {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: $color-secondary-dark;
    text-align: center;
    @media (max-width: 992px) {
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: -0.02em;
    }
    strong {
      font-weight: 600;
      font-size: 54px;
      line-height: 64px;
      letter-spacing: -0.02em;
      color: $color-primary-light;
      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.02em;
      }
    }
  }
  .carousel-control-prev-icon {
    background: url("images/visite-blog/icon-prev.png") top center no-repeat;
    width: 24px;
    height: 44px;
    left: -75px;
    @media (max-width: 992px) {
      width: 8px;
      height: 18px;
      background-size: cover;
    }
  }
  .carousel-control-next-icon {
    background: url("images/visite-blog/icon-next.png") top center no-repeat;
    width: 24px;
    height: 44px;
    right: -75px;
    @media (max-width: 992px) {
      width: 8px;
      height: 18px;
      background-size: cover;
    }
  }
  .carousel-indicators {
    margin-bottom: 0;
    [data-bs-target] {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin-right: 6px;
      margin-left: 6px;
      background-color: $color-grey-light;
      border: 0;
      @media (max-width: 992px) {
        height: 6px;
        width: 8px;
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }
  .visite-blog-item {
    margin-bottom: 25px;
    @media (max-width: 992px) {
      margin-bottom: 25px;
    }
  }
  .visite-blog-btn{
    background: $color-primary-dark;
    color: $color-white;
    font-weight: 700;
    &:hover{
      background: $color-white;
      border: 1px solid $color-primary-dark;
      color: $color-primary-dark;
    }
  }
}
