.como-aprender {
    .como-aprender-title {
        color: $color-secondary-dark;
        span {
            color: $color-primary-light;
            @media (max-width: 992px) {
                font-size: 30px;
                line-height: 35px;
                text-align: center;
                letter-spacing: -0.02em;
            }
        }
        @media (max-width: 992px) {
            margin-bottom: 25px;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: -0.02em;
        }
    }
    .como-aprender-texto {
        padding-left: 3rem;
        @media (max-width: 992px) {
            padding: 1rem;
            text-align: center;
        }
    }
    strong .yellow {
        color: $color-primary-light;
    }
    h2 {
        margin-bottom: 40px;
        font-weight: 300;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: $color-secondary-dark;
        text-align: center;
        @media (max-width: 992px) {
            margin-bottom: 0px;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: -0.02em;
        }
        strong {
            font-weight: 600;
            font-size: 54px;
            line-height: 64px;
            letter-spacing: -0.02em;
            color: $color-primary-light;
            @media (max-width: 992px) {
                font-size: 30px;
                line-height: 35px;
                text-align: center;
                letter-spacing: -0.02em;
            }
        }
    }
    
    p {
        font-weight: 200;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: $color-secondary-dark;
        margin-bottom: 35px;
        strong {
            font-weight: 600;
            letter-spacing: -0.02em;
        }
        strong .yellow {
            font-weight: 600;
            letter-spacing: -0.02em;
            color: $color-primary-light;
        }
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 20px;
        }
    }
    .como-aprender-img {
        @media (max-width: 992px) {
            width: 40%;
            margin-bottom: 1rem;
        }
    }
    .como-aprender-box {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 1rem;
    }
    li {
        font-weight: 600;
        font-size: 21px;
        list-style-type: none;
        position: relative;
        margin-bottom: 0.5em;
        &:before {
            content: "";
            background: url("images/aprenda-mt/icon-circle.png") center left no-repeat;
            position: absolute;
            width: 15px;
            height: 15px;
            left: -1em;
            top: 0.4em;
        }
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 24px;
            top: 0.4em;
            padding: 0;
            &:before {
                left: -2em;
            }
        }
    }
    .btn {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        color: $color-white;
        background: $color-primary-dark;
        border: 1px solid $color-primary-dark;
        border-radius: 30px;
        padding: 9px 31px;
        @media (max-width: 992px) {
            font-size: 14px;
            line-height: 16px;
            display: none;
        }
        &:hover {
            background-color: transparent;
            border: 1px solid $color-primary-dark;
            color: $color-primary-dark;
        }
    }
    .text-call {
        p {
            font-size: 30px;
            @media (max-width: 992px) {
                font-size: 22px;
                line-height: 26px;
                font-weight: 100;
                margin-top: 2rem;
            }
        }
    }
}
